.chart {
  height: 100%;
  padding: 6% 10%;
  hr {
    margin: 0 0 2% 0;
  }
  .chart-title {
    font-size: 2rem;
    padding: 1.5rem 0;
    display: inline-block;
  }
  .chart-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .chart-list-btn {
    border: 1px solid white;
    border-radius: 8%;
    padding: 0.75rem;
  }
}
